<ion-fab horizontal="end" vertical="top" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    <ion-fab-button color="light" (click)="toLogin()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="new-ticket-tab">
      <ion-icon name="ticket-outline"></ion-icon>
      <ion-label>New Ticket</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list-tickets-tab">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Ticket List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
